@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$color-primary: #047aed;
$color-secondary: #1c3fa8;
$color-dark: #002240;
$color-light: #f4f4f4;
$color-grey: #b4becb;
$color-success: #5cb85c;
$color-danger: #d9534f;

$bp-tablet: 48em;
$bp-mobile: 31.25em;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.1rem 0;
}

p {
  margin: 0.1rem 0;
}

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
