.container {
  max-width: 110rem;
  margin: 0 auto;
  overflow: auto;
  padding: 0 4rem;
}

.alert {
  background-color: $color-light;
  padding: 1rem 2rem;
  font-weight: bold;
  margin: 1.5rem 0;

  i {
    margin-right: 1rem;
  }

  &--success {
    background-color: $color-success;
    color: #fff;
  }

  &--error {
    background-color: $color-danger;
    color: #fff;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;

  &--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: $bp-tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease;

  &--outline {
    background-color: transparent;
    border: 1px solid #fff;
  }

  &:hover {
    transform: scale(0.98);
  }

  &--primary {
    background-color: $color-primary;
    color: #fff;
  }

  &--dark {
    background-color: $color-dark;
    color: #fff;
  }
}

// background
.bg-primary {
  background-color: $color-primary;
  color: #fff;
}

.bg-secondary {
  background-color: $color-secondary;
  color: #fff;
}

.bg-dark {
  background-color: $color-dark;
  color: #fff;
}

.bg-light {
  background-color: $color-light;
  color: #333;
}

// text
.text-center {
  text-align: center;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-dark {
  color: $color-dark;
}

.text-light {
  color: $color-light;
}

.lead {
  font-size: 2rem;
}

.sm {
  font-size: 1.6rem;
}

.md {
  font-size: 3.2rem;
}

.lg {
  font-size: 4.8rem;
}

.xl {
  font-size: 6.4rem;
}

// padding
.py-1 {
  padding: 1.6rem 0;
}

.py-2 {
  padding: 2.4rem 0;
}

.py-3 {
  padding: 3.2rem 0;
}

.py-4 {
  padding: 4.8rem 0;
}

.py-5 {
  padding: 6.4rem 0;
}

.px-1 {
  padding: 0 1.6rem;
}

.px-2 {
  padding: 0 2.4rem;
}

.px-3 {
  padding: 0 3.2rem;
}

.px-4 {
  padding: 0 4.8rem;
}

.px-5 {
  padding: 0 6.4rem;
}

.p-1 {
  padding: 1.6rem;
}

.p-2 {
  padding: 2.4rem;
}

.p-3 {
  padding: 3.2rem;
}

.p-4 {
  padding: 4.8rem;
}

.p-5 {
  padding: 6.4rem;
}

// margin
.my-1 {
  margin: 1.6rem 0;
}

.my-2 {
  margin: 2.4rem 0;
}

.my-3 {
  margin: 3.2rem 0;
}

.my-4 {
  margin: 4.8rem 0;
}

.my-5 {
  margin: 6.4rem 0;
}

.mx-1 {
  margin: 0 1.6rem;
}

.mx-2 {
  margin: 0 2.4rem;
}

.mx-3 {
  margin: 0 3.2rem;
}

.mx-4 {
  margin: 0 4.8rem;
}

.mx-5 {
  margin: 0 6.4rem;
}

.m-1 {
  margin: 1.6rem;
}

.m-2 {
  margin: 2.4rem;
}

.m-3 {
  margin: 3.2rem;
}

.m-4 {
  margin: 4.8rem;
}

.m-5 {
  margin: 6.4rem;
}
